<!DOCTYPE html>

<html>
    <head>
        <title> Taft Eats | Login </title>

        <link rel = "stylesheet" type="text/css" media="all" href="../css/main.css">

        <script src="../js/jquery-4.0.0.min.js"></script>
        <script src="../js/data.js"></script>
        <script src="../js/main.js"></script>
    </head>

    <body>

        <!-- Dynamic Navigation Bar - Will be populated by JavaScript -->
        {{> navbar}}

         <!-- Login Section -->
        <main class="login">
            <section class = "auth-section">
                
                <h3 class="sign_in">SIGN IN</h3>

                <form class = "auth-form2" method="POST" action="/login">
                    {{> messages}}
                    
                    <div class = "auth_group">
                        <input type = "text" id = "login-username" name = "username" required placeholder="Username" class="auth">
                    </div>

                    <div class = "auth_group">
                        <input type = "password" id = "login-password" name="password" placeholder="Password" class="auth">
                    </div>

                    <div>
                        <button type = "submit" id="login-btn" class = "primary-btn">Login</button>
                    </div>

                    <div class="auth-footer">
                        <p>Don't have an account? <a href="/register">Sign up</a></p>
                    </div>

                </form>

            </section>
        </main>

        
        <!-- Footer -->
        {{> footer}}
    </body>

</html>