<!DOCTYPE html>

<html>

    <head>
        <title> Taft Eats | Edit User Profile </title>

        <link rel = "stylesheet" type="text/css" media="all" href="../css/main.css">

        <script src="../js/jquery-4.0.0.min.js"></script>
        <script src="../js/data.js"></script>
        <script src="../js/main.js"></script>
    </head>

    <body>
        <!-- Dynamic Navigation Bar - Will be populated by JavaScript -->
        {{> navbar}}

         <!-- Edit Profile Section -->
        <h2> Edit Profile </h2>

        <main class="edit_prof">
            <section class = "edit-profile-section">

                <form action="/edit-profile" method="post" enctype="multipart/form-data">

                    <!-- Edit Profile Image -->
                    <div class = "edit-profile-image">
                        <img id="edit-avatar" src="{{user.avatar}}" alt="User Profile Picture">

                        <label for = "profile-image-input" class = "upload-btn"> Change Profile Picture </label>

                        <input type = "file"
                            id = "profile-image-input"
                            name="avatar"
                            accept = "image/*"
                        >
                    </div>
                    
                    <!-- Profile Details -->
                    <div class = "edit-profile-info">
                        
                        <div class = "form-group">
                            <label for = "profile-desc"> Profile Description </label>

                            <textarea id = "profile-desc" name="description" rows = "6">{{user.description}}</textarea>
                        </div>

                        <div class = "edit-profile-actions">
                            <button type="button" onclick="window.location.href='/profile'" class = "cancel-btn"> Cancel </button>

                            <button type="submit" class = "save-btn"> Save Changes </button>
                        </div>  
                    </div>
                </form>
            </section>
        </main>

        <!-- Footer -->
        {{> footer}} 
    </body>
</html>