<!DOCTYPE html>

<html>
    <head>
        <title> Taft Eats | Register </title>

        <link rel = "stylesheet" type="text/css" media="all" href="../css/main.css">

        <script src="../js/jquery-4.0.0.min.js"></script>
        <script src="../js/main.js"></script>
    </head>

    <body class="register">
        <!-- Registration Section -->
         <main>
            <section class = "auth-section">
                <form class = "auth-form" method="POST" action="/register" enctype="multipart/form-data">
                    <div>
                        <img src="../assets/images/food.jpg" class="reg_img">
                    </div>
                    
                    <div class="reg_side">
                        <p class="reg_header"> Register </p>

                        {{> messages}}

                        <div class = "form-group">
                            <input type = "text"  id="fullname" name="fullname" required placeholder="Fullname" class="reg_input">
                        </div>

                        <div class = "form-group">
                            <input type = "text"  id="username" name="username" required placeholder="Username" class="reg_input">
                        </div>

                        <div class = "form-group">
                            <input type = "password" id="password" name="password" required placeholder="Password" class="reg_input">
                        </div>

                        <div class = "form-group">
                            <input type = "password" id="passwordfinal" name="passwordfinal" required placeholder="Confirm Password" class="reg_input">
                        </div>

                        <div class = "form-group">
                            <input type = "file" id = "reg-picture" name="picture" accept = "image/*" class="img_input">
                            <label for="reg-picture" class="profile-btn">Upload Picture</label>
                        </div>

                        <div class="btns">
                            <button type = "submit" class = "primary-btn">Register</button>
                            <button type="button" class="cancel-btn" onclick="window.location.href='/'">Cancel</button>
                        </div>
                    </div>                
                </form>
            </section>
         </main>
    </body>

</html>